   <!-- Header -->
   <div class="fixed w-full flex items-center justify-between h-14 text-white z-10">
    <div class="flex items-center justify-end md:justify-start pl-3 w-14 md:w-full sm:w-14 h-14 bg-blue-800 border-none">
      <img class="w-7 h-7 md:w-10 md:h-10 m-2 rounded-full overflow-hidden" src="../../../assets/img/user.png" />
      <span class="hidden md:block">احمد عبد الشكور</span>
    </div>
    <div class="flex items-center justify-end pl-3 w-14 md:w-full h-14 bg-blue-800 dark:bg-gray-800 border-none">
      <span class="hidden md:block font-semibold">البنك المركزي العراقي / نظام العد والفرز</span>
    </div>

  </div>
  <!-- ./Header -->

  <!-- Sidebar -->
  <div class="fixed flex flex-col top-14 right-0 w-14 md:w-48 bg-blue-900 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
      <ul class="flex flex-col py-4 space-y-1">

        <li>
          <a routerLink="dashboard" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 hover:text-white text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">الرئيسية</span>
          </a>
        </li>
        <li>
          <a routerLink="main" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 hover:text-white text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">عمل كشف</span>
          </a>
        </li>
        <li>
          <a routerLink="report" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 hover:text-white text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">التقارير</span>
            </a>
        </li>
        <li>
            <a routerLink="statment" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 hover:text-white text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
              <span class="inline-flex justify-center items-center ml-4">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path></svg>
              </span>
              <span class="ml-2 text-sm tracking-wide truncate">الكشوفات</span>
              </a>
          </li>
        <li>

          <a  (click)="onLogout()" class="cursor-pointer flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 hover:text-white text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
            <span class="inline-flex justify-center items-center ml-4">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">خروج</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./Sidebar -->
